POSTGRES_USER=tisei
POSTGRES_PASSWORD=tisei
POSTGRES_DB=tisei

JWT_SECRET=please-change-me

GOOGLE_CLIENT_ID=

# LibreTranslate language packs to download (comma-separated)
LT_LOAD_ONLY=en,ru,kk,es,de,fr,zh
